:root {
  --primary-color: #b331da; 
  --primary-hover: #531881;
  --bg-color: #13031f;      
  --card-bg: #5f1974;
  --text-main: #e3d0ec;
  --text-muted: #cb76e5;
  --border-color: #b331da;
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.nav-bar {
  background: var(--card-bg);
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid var(--border-color);
}

.link {
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 600;
  padding-right: 25px;
  transition: color 0.2s;
}

.link:hover, .link:active {
  color: var(--primary-color);
}

.menu-icon {
        width: 25px;
        height: 25px;
        padding:5px 5px;
}

.name {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    transition: color 0.2s;
    text-align: center;
    height: 16px;
}

.name:hover, .name:active {
  color: var(--primary-color);
}

.mobile {
    display:none;
    text-align: center;
    height: 16px;
}

@media  screen and (max-width:780px) {
    .mobile{
        display: flex;
    }
}

.desktop {
    display: flex;
    text-align: center;
    height: 16px;
}

@media  screen and (max-width:780px) {
    .desktop{
        display: none;
    }
}